body {
    margin: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    text-align: left;
    background-color: #fff;
}

.spacer {padding: 10px; clear:both }
.main{padding-top: 85px}

strong{
    line-height: 180%;
}

.line{
    font-size: 80%;
    border-top:1px solid #cecece;
    padding: 10px;
    cursor: pointer;
}

.logdate {
    float: right;
    font-size: 70%
}

blockquote{
    font-size: 12px;
}

.bg-gradient-primary{
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    background-size: cover;
}